<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/products">Comprar productos</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/pageNotAvailable">Pagina no disponible</a></li>
        </ul>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>
